
/*-------------------------------------------------------------------------------------------

BODY

-------------------------------------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", serif;
    font-weight: 600;
    line-height: 30px;
    color: black;
    
}


/*-------------------------------------------------------------------------------------------

LINKS

-------------------------------------------------------------------------------------------*/
a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a {
    transition: all 0.3s;
}

a:hover {
    color: white;
    background-color:   rgb(249, 135, 205);
    padding: 0.8rem;
    margin: -.8rem; /* I'm assuming this is pretty hacky, I couldn't figure it out though*/
    border-radius: 25px;
}

a:focus {
    color: white;
    background-color:   rgb(249, 135, 205);
    padding: .8rem;
    margin: -.8rem;
}

/* I don't know why, but the label:focus doesn't work*/
label:hover, label:focus {
    color: white;
    background-color:   rgb(249, 135, 205);
    transition: 0.3s;
}


/*-------------------------------------------------------------------------------------------

HEADER

--------------------------------------------------------------------------------------------*/
header {
    display: flex;
    background-color: transparent; 
    
}

.site-logo {
    display: none;
} 

.bgimage {
    background-image: url('../media/purplesky.jpg'); /* https://www.pexels.com/photo/purple-sky-1287142/ where I got the picture */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* https://codepen.io/jr/pen/rdvbEo for lines 59 - 71 */

label {
	cursor: pointer;
	font-size: 2rem;
    position: relative;
}

input {
	opacity: 0;
	pointer-events: none;
}

input:not(:checked) ~ nav {
	display: none;
}


.nav-items {
    list-style-type: none;
    padding-inline-start: 0px; /*Again, I put this here too because of a browser setting?*/
    margin: 0;
    position: absolute;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-items li {
   font-size: large;
   margin-bottom: .8rem;
   
}



/*----------------------------------------------------------------------------

MAIN

--------------------------------------------------------------------------------*/

main {
    padding: 0 1rem ;
}

h1,
h2,
h3 {
    font-family: "Figtree", serif;
    font-weight: 300;
    text-align: center;
   
}

h1 {
    text-align: left;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-top: 0;
    padding: 10rem 10rem 1rem;
    text-shadow: 3px 1px rgb(182, 137, 203);
    
}

    /* ---------------------------------------------------------------------------

    about me 

    ----------------------------------------------------------------------------*/


.about-me {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 8rem;
}
   
.about-me h2 {
    font-weight: 600;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-right: 10rem;
    text-shadow: 2px 1px rgb(182, 137, 203);
}  

.section1 {
    margin-left: -1rem;
    margin-right: -1rem;
} 

    /* -------------------------------------------------------------------------------------------
    
    projects
    
   -------------------------------------------------------------------------------------------*/


.web-projects {
   
    background-color: white;
    color:rgb(0, 0, 0);
    
}

.symbols {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.projects {
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 500;
    text-shadow: 2px 1px rgb(182, 137, 203);
    padding: 3rem;
}

.project-list {
    
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px; /*to offset the browser padding. I wasn't sure if I should put it here or on the normalize sheet*/
    
}

.project-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(206, 166, 225) 2px;
    border-radius: 8px;
    background-image: linear-gradient(172deg, #ffffff 70%, rgb(206, 166, 225) calc(70% + 2px)); /*https://edavis.github.io/2018/02/04/create-an-angled-background-in-css/ this is where I got the code for lines 194 and 202*/
    padding: 2rem;
    margin: 1rem;
    line-height: 18px;
    transition: .5s ease-in-out;
    flex: 1 1 30%;  
}
.project-list li:hover {
    background-image: linear-gradient(180deg, white 70%, rgb(206, 166, 225) calc(70% + 2px));
}

/*-------------------------------------------------------------------------------------------

ARTWORK

-------------------------------------------------------------------------------------------*/

.artwork {
    font-weight: 500;
    font-size: clamp(3rem, 5vw, 5rem);
    text-shadow: 2px 1px rgb(182, 137, 203);
    padding: 3rem;
}

.ceramic,
.illustration {
    font-size: clamp(3rem, 8vw, 4rem);
    z-index: 2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    transition: transform 0.5s;
}
/*https://www.youtube.com/watch?v=ua2vl8EEIHA this is where I got the code for lines 226-241. only used the font style from the video. */

.ceramic:hover,
.illustration:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    transform: translateY(-10px);
} 

/*https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp lines 241 - 261*/

div.scroll-ceramic {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem;
  }
  
div.scroll-ceramic img {
    padding: 1rem;
  }

div.scroll-ilus {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem;
  }
  
div.scroll-ilus img {
    padding: 1rem;
  }



/*-------------------------------------------------------------------------------------------

FOOTER

-------------------------------------------------------------------------------------------*/

footer {
    background-image: url('../media/purplesky.jpg'); /* https://www.pexels.com/photo/purple-sky-1287142/ where I got the picture */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: auto;
    padding: 2rem;
} 

.emailbtn {
    font-weight: 700;
    border: 2px black solid;
    padding: .5rem;
    margin: .5rem;
    background-color: rgb(206, 166, 225);
}

footer p {
    padding-bottom: 2rem;
}



/*------------------------------------------------------

media query

-------------------------------------------------------------------*/

@media (min-width: 43.75em) {
/* navigation bar */
label,
 input {
    display: none;
}

.site-logo {
    display: block;
    min-width: 30px;
    position: absolute;
} 

.navbar {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    background-color: white;
}

.nav-items {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
}

.nav-items li {
    margin-bottom: 0;
    margin-right: 4rem;
}

/*about me*/

h1 {
    font-size: 35px;
}

.about-me h2 {
    font-size: 30px;
}

.about-me p {
max-width: 50%;
font-size: 23px;
line-height: 35px;
margin: auto;
margin-top: 5rem;
}

.section1 {
    padding: 6rem 2rem;
}

/* I didn't change the rest because I like it expands out*/
}