
/*BODY*/
body {
    font-family: "Quicksand", serif;
    font-weight: 600;
    line-height: 30px;
    color: black;
    background-color: transparent(0, 0, 0);
}


/*LINKS*/
a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover, a:focus {
    color: white;
    background-color: rgb(118, 117, 75);
}


/*HEADER*/
header {
    display: flex;
    background-color: rgb(255, 255, 255); 
    
}

.site-logo {
    min-width: 30px;
    position: absolute;
} /*change the logo color to white*/

.nav-items {
    list-style-type: none;
    font-size: small;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1; 
    padding: 0 2rem;
    margin: 0;
}

/* I tried to do a drop down menu but I didn;t understand what I did at all -- try again at the end. maybe on a separate file so you don't mess anything up. */



/*MAIN*/

main {
    padding: 0 1rem ;
}

h1,
h2,
h3 {
    font-family: "Figtree", serif;
    font-weight: 300;
    text-align: center;
   
}

h1 {
    text-align: left;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: 0;
    padding: 6rem 10rem;
    text-shadow: 3px 1px rgb(182, 137, 203);
    
}

    /* about me */


.about-me {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 8rem;
}
   
.about-me h2 {
    font-weight: 400;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-right: 10rem;
    text-shadow: 2px 1px rgb(182, 137, 203);
}  

.section1 {
    background-image: url('../media/purplesky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -1rem;
    margin-right: -1rem;
  
    
}

/*.section1 img {
    border: solid 5px transparent;
    box-shadow:  10px 10px rgb(223, 216, 200);
    border-radius: 25px;
}
    Don't think I want to use this */



    /* projects */
.web-projects {
    padding: 1rem;
    margin-top: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: white;
    color:rgb(0, 0, 0);
    font-weight: 900;
}

.projects {
    font-weight: 500;
    text-shadow: 1px 1px rgb(182, 137, 203);
    padding: 3rem;
}

/*.projects {
    border: solid rgb(182, 137, 203) 3px;
    border-radius: 20px;
    background-image: linear-gradient(180deg, #ffffff 70%, rgb(206, 166, 225) calc(70% + 2px)); /*https://edavis.github.io/2018/02/04/create-an-angled-background-in-css/ this is where I got this line of code*/
   /* border-width:initial;
    text-shadow: 1px 1px rgb(182, 137, 203);
    padding: 2rem;
    transition: .5s ease-in-out; pretty cool, no purpose though ahaha */

/*.projects:hover {
    color: white;
    background-image: linear-gradient(180deg, rgb(206, 166, 225) 70%, rgb(255, 255, 255) calc(70% + 2px));*/

    /* scrapped this design ^ */

.project-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(206, 166, 225) 2px;
    border-radius: 8px;
    background-image: linear-gradient(172deg, #ffffff 70%, rgb(206, 166, 225) calc(70% + 2px)); /*https://edavis.github.io/2018/02/04/create-an-angled-background-in-css/ this is where I got this line of code*/
    padding: 2rem;
    margin: 1rem;
    line-height: 18px;
    transition: .5s ease-in-out;
    flex: 1 1 30%;  
}
.project-list li:hover {
    background-image: linear-gradient(180deg, white 70%, rgb(206, 166, 225) calc(70% + 2px));
}

/*ARTWORK*/

.artwork {
    font-weight: 500;
    text-shadow: 1px 1px rgb(182, 137, 203);
    padding: 3rem;
}

.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}

.ceramic,
.illustration {
    z-index: 2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    cursor: pointer;
    transition: transform 0.5s;

}

.ceramic:hover,
.illustration:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    transform: translateY(-10px);
} 

.ceramicpic {
    margin: 3rem;
} 

.illuspic {
    margin: 3rem;
}

/*FOOTER*/

footer {
    background-color: rgb(206, 166, 225);
    color: rgb(223, 216, 200);
    text-align: center;
    margin-bottom: 2rem;
} 

.email {
    position: relative;
    background-color: white;
    color: rgb(206, 166, 225);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25%;
    margin-bottom: 2rem;
} /* STILL WORKING ON THIS*/

